<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Node.js Weather App</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="app">
    <div class="app__header">
      <% if (weather) { %>
        <h1><%=weather%> °C</h1>
      <% } else { %>
        <h1>Weather</h1>
      <% } %>
      <% if (error) { %>
        <p class="error"><%=error%></p>
      <% } %>
    </div>
    <form action="/" method="POST" class="app__content">
      <div class="input">
        <label for="city">City</label>
        <input type="text" id="city" placeholder="City name" name="city">
      </div>
      <button type="submit" class="btn">Show weather</button>
    </form>
  </div>
</body>
</html>